

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;

}


.contenedor {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.caja1 {
    width: 10%;
    height: 1px;
    padding: 1px;
    padding-top: 10px;
    border-radius: 10px;
}

.caja11 ul {
    display: flex;
    list-style: none;  
}

.caja11 ul li {
    Padding: 0 10px; 
}


.caja11 ul li a {
    text-decoration: none;
}

.caja12 {
    width: 10%;
    height: 10px;
    padding: 20px;
    padding-top: 10px;
    border-radius: 10px;
}


.contenedor2,
.contenedor3 {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

h1,
h2 {
    font-weight: bold;
}

.caja2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-right: 120px;
}

button  {
    width: 120px;
    height: 40px;
    border: none;
    color: white;
    background: #F3603B;
    box-shadow: 0px 4px 8px rgba(242, 97, 59, 0.5);
    border-radius: 50px;
}

button:nth-of-type(4) {
    color: #F3603B;
    background: white;
}



.caja31, 
.caja32 {
    width:40%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

p {
    color: #B3B2B7;
}

ol.listacaja32 {
    list-style-type: decimal;
    list-style-image: ;

}


.contenedor4 {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 50px;
}

.caja41, 
.caja42,
.caja43 {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caja41 >img, 
.caja42 >img,
.caja43 >img {
    width: 70px;
    Height: 70px;
}


.details4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedorboton {
    display: flex;
    justify-content: center;
    align-items: center;
    Margin-top: 50px;
}


.contenedor5 {
    width: 100%;
    height: 225px;
    background-color: #F3613C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-top: 50px;
    color: white;
          
}


footer {
    background-color: #1E1E26;
    
}

.contenedor6 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    color: white;
    
}

.caja61 {
    
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}

.caja62,
.cajaformulario {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}

.listafooter {
    list-style: none;
    font-weight: 100;
    font-size: 16px;
}

.parrafofooter {
    text-align: right;
    padding-right: 30px;
}

.bottonfooter {
    margin-left: 20px;

}